@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter";
}
.carousel-item img {
  height: calc(100vh - 90px);
  object-fit: cover;
}
